.cursorignore
.flatpak-builder/
.python-version
build-dir/
repo/

freescribe.log.*
*.log

.idea/
__version__

aiscribe.txt
aiscribe2.txt
settings.txt
notes_history.txt

.venv
__pycache__
build
dist
recording.wav
output
client.spec
.aider*
.DS_Store
install_state

realtime.wav
src/FreeScribe.client/models
freescribe-client.spec
freescribe-client-cpu.spec
freescribe-client-nvidia.spec
scripts/FreeScribeInstaller.exe
launch.json
_build
/mac/scripts/preinstall

freescribe.log

freescribe.log